[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
[core]
	quotePath = false
[diff]
	colorMoved = default
	tool = vimdiff
[color "diff"]
	old = red bold
	new = green bold
[color "status"]
	changed = red bold
	untracked = red bold
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[delta]
	syntax-scheme = zenburn
[push]
	default = current
[github]
	user = MaxGyver83
