vim/.vim/.netrwhist
byobu/.byobu/.screenrc
byobu/.byobu/.ssh-agent
byobu/.byobu/.tmux_history
byobu/.byobu/backend
byobu/.byobu/color
byobu/.byobu/windows
cheatsheets/user-ids.txt
dunst/.config/dunst/dunstrc
fish/.config/fish/local.fish
fish/.config/fish/completions/fisher.fish
fish/.config/fish/functions/__z.fish
fish/.config/fish/functions/__z_add.fish
fish/.config/fish/functions/__z_clean.fish
fish/.config/fish/functions/__z_complete.fish
scripts/bin/office
scripts/bin/home-office
qtile/.config/qtile/__pycache__/
vim/.vim/autoload/plug.vim
vim/.vim/.Vimball*
vim/.vim/pack
vim/.vim/spell
vis/.config/vis/plugins
vis/.config/vis/themes
cheatsheets/l4.txt
*~undo-tree~
nohup.out
tags-*
