.terminator-terminal-window notebook tab:checked {
    border-top: 5px solid #c00;
}
.terminator-terminal-window notebook tab:checked label {
    font-weight: bold;
}

/* active window */
headerbar {
    /* background-image: none; */
    border-top: 5px solid #c00;
}
/* inactive window */
headerbar:backdrop {
    background-color: #555;
    border-top: none;
}
/* does not work */
/* window { border: 1px solid red; } */
/* window:backdrop { border: none; } */
