# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.

# Be 8 bit clean.
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, uncomment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.

# set convert-meta off

# try to enable the application keypad when it is called.  Some systems
# need this to enable the arrow keys.
set enable-keypad on

# see /usr/share/doc/bash/inputrc.arrows for other codes of arrow keys

# do not bell on tab-completion
# set bell-style none
# set bell-style visible

# Max, nur ein Test:
set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
"\t": menu-complete
"\e[Z": menu-complete-backward

# Max: enable case-insensitive tab completion
set completion-ignore-case on

# Max
$if gdb
    # key bindings inspired by https://github.com/puremourning/vimspector#human-mode
    "\e[15~": "\C-a\C-kserver continue\n" # F5
    "\e[21~": "\C-a\C-kserver next\n" # F10
    "\e[23~": "\C-a\C-kserver step\n" # F11
    "\e[24~": "\C-a\C-kserver return\n" # F12
    "\e[20~": "\C-a\C-kserver until\n" # F9
$endif

# some defaults / modifications for the emacs mode
$if mode=emacs

# allow the use of the Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# allow the use of the Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# mappings for "page up" and "page down" to step to the beginning/end
# of the history
# "\e[5~": beginning-of-history
# "\e[6~": end-of-history

# alternate mappings for "page up" and "page down" to search the history
# "\e[5~": history-search-backward
# "\e[6~": history-search-forward
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Max: Ctrl+b/f or Shift+Left/Right for moving by one WORD (including /, \, -, etc.) instead of one letter
"\C-f": shell-forward-word
# "\C-b": shell-backward-word
"\e[1;2D": shell-backward-word
"\e[1;2C": shell-forward-word

# Max: duplicate last word (bash)
"\C-\xff": shell-backward-kill-word
"\C-b": "\C-\xff\C-y\C-y"

# Exit on Ctrl+q
"\C-q": "\C-d"

$if term=rxvt
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOc": forward-word
"\eOd": backward-word
$endif

# edit command line in vim
"\ev": edit-and-execute-command

# for non RH/Debian xterm, can't hurt for RH/Debian xterm
# "\eOH": beginning-of-line
# "\eOF": end-of-line

# for freebsd console
# "\e[H": beginning-of-line
# "\e[F": end-of-line

$endif
